@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

/*resets default border and margin*/
body, html {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4defa;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* adds a shadow to the bottom of the navbar */
    z-index: 1000; /* ensure the navbar stays on top and doesn't interfere with any other element */
}

/* style the logo image */
nav .EmpressLogo img {
    height: 95px;
    padding: 0.3rem;
    margin: 0 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.left-menu{
    flex-grow: 1;
    justify-content: flex-end; /* Ensures the menus stay close to the logo */
    padding-right: 0.5rem;
    padding-left: 9rem; /*centers the navbar sections*/
}

nav ul.right-menu{
    flex-grow: 1;
    justify-content: flex-start; /* Ensures the menus stay close to the logo */
}

nav ul.left-menu {
    margin-right: auto; /* Pushes the logo to the right */
}

nav ul.right-menu {
    margin-left: auto; /* Ensures right menu items stay on the right */
}

nav ul.combined-menu {
    display: none; /* Hidden by default */
  }

nav ul li {
    list-style: none
}

nav ul li a {
    /*serif is added just in case the font Playfair Display is not working*/
    font-family: 'Oxygen', serif;
    display: block;
    text-decoration: none;
    color: #0d2e82;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 17px;
    /* makes font slightly thicker*/
    font-weight: 500;
}

/*show diff color when hovering over element*/
nav ul li a:not(.active):hover{
    color: #3a7fdf;
}

.active{
    color: #3a7fdf;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

/*designing the dropdown*/
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #0d2e82;
    border-radius: 0.2rem;
}

/*used to show dropdown menu when screen minimizes to a certain size*/
@media (max-width: 600px){
    nav .menu{
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: o.25rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul.left-menu,
    nav ul.right-menu {
        display: none; /* Hide the left and right menus */
    }

    nav ul.combined-menu{
        width: 100%;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem, 0.5rem;
    }
}

.iglogo img {
    height: 21px; /* Adjust this value to make the logo smaller */
    width: auto;
    padding-right: 1rem;
  }

  .linkedin_logo img{
    height: 27px;
    width: auto;
    padding-right: 0.8rem;
  }

  .facebook_logo img{
    height: 27px;
    width: auto;
    padding-right: 2rem;
  }