@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.section2{
    background: linear-gradient(to bottom, #b4defa, #ffffff); /* Blue to white gradient */
    height: 60vh;
    padding: 10px;
    text-align: center; /*center text*/
}

.section2 h1{
    position: relative;
    font-family: 'Amiri', serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0d2e82;
    padding-top: 15px;
}

.section2 p{
    position: relative;
    font-family: 'Oxygen', serif;
    font-weight: 510;
    color: #0d2e82;
}

.section2 p span {
    display: block; /* Each span will be displayed as a block, causing line breaks */
    margin-bottom: 10px; /* Adds space between lines */
  }

.section2 p + p{
    position: relative;
    padding-top: 20px;
    font-family: 'Oxygen', serif;
    font-weight: 300;
    color: #0d2e82;
}

.section2 p + p + p{
    position: relative;
    font-family: 'Oxygen', serif;
    color: #0d2e82;
}

.section2 p + p + p +p{
    position: relative;
    font-size: 2.2rem;
    font-weight: 550;
    font-family: 'Amiri', serif;
    color: #0d2e82;
    margin-top: 70px;
}

.recruitment img{
    height: 500px; /* Adjust this value to make the logo smaller */
}

